/* stylelint-disable color-function-notation */
/* stylelint-disable length-zero-no-unit */
.textareawrapper {
	position: relative;
}

.textarea {
	width: 100%;

	padding: 7px 15px;

	color: var(--black);
	border: none;

	border-radius: 5px;

	outline-color: var(--primary);

	background: var(--white);

	box-shadow: 0px 4px 4px rgba(0, 0, 0, 5%);

	font-family: var(--font-family);
	font-size: 16px;
	line-height: 22px;
}

.textarea::placeholder {
	color: var(--grey);
}

.error {
	border: 1px solid var(--red);
}

.errormessage {
	position: absolute;
	bottom: -15px;
	left: 0;

	color: var(--red);
}
