/* stylelint-disable max-line-length */
.product {
	display: grid;

	grid-template-columns: [start] 70px [logoend] 30px [titlestart] calc(50% - 100px) [middle] 1fr [pricestart] auto [priceend] 40px [creditstart] auto [creditend] 40px [ratingstart] auto [end];

	margin-bottom: 30px;
	padding: 30px;
}

.logo {
	grid-column: start / logoend;
	grid-row: 1 / span 2;
}

.title,
.tags {
	grid-column: titlestart / middle;
}

.price,
.pricetitle {
	grid-column: pricestart / priceend;
}

.credit,
.credittitle {
	grid-column: creditstart / creditend;
}

.rating,
.ratingtitle {
	grid-column: ratingstart / end;
}

.hr,
.description,
.actions {
	grid-column: start / end;
}

.feature {
	grid-column: start / middle;
}

.advblock {
	grid-column: middle / end;

	font-size: 16px;
	line-height: 22px;
}

.logo img {
	border-radius: 5px;
}

.title {
	align-self: flex-end;

	font-size: 20px;
	font-weight: 600;
	line-height: 27px;
}

.category {
	margin-top: 7px;
}

.price,
.credit {
	align-self: flex-end;

	font-size: 20px;
	line-height: 27px;
}

.rating {
	align-self: flex-end;
}

.description {
	margin-bottom: 15px;

	font-size: 16px;
	line-height: 24px;
}

.pricetitle,
.credittitle,
.ratingtitle {
	font-size: 14px;
	font-weight: 300;
	line-height: 19px;
}

.month {
	font-size: 14px;
	line-height: 19px;
}

.oldprice {
	margin-left: 5px;
}

.reviewbutton {
	margin-left: 20px;
}

.advtitle,
.disadvtitle {
	margin-bottom: 5px;

	font-size: 16px;
	font-weight: bold;
	line-height: 22px;
}

.advantages {
	margin-bottom: 20px;

	padding-left: 15px;

	border-left: 2px solid var(--green);
}

.disadvantages {
	padding-left: 15px;

	border-left: 2px solid var(--red);
}

.characteristics {
	display: grid;

	padding-right: 60px;

	grid-template-columns: auto 1fr auto;

	gap: 10px;

	font-size: 16px;
	line-height: 32px;
}

.characteristicsname {
	font-weight: bold;
}

.characteristicsdots {
	margin-bottom: 5px;

	border-bottom: 1px dashed var(--grey-light);
}
