/* stylelint-disable color-hex-length */
html,
body {
	margin: 0;
	padding: 0;

	color: var(--black);
	background: #F5F6F8;
}

a {
	text-decoration: none;

	color: inherit;
}

* {
	box-sizing: border-box;
}

:root {
	--black: #3B434E;
	--grey-light: #EBEBEB;
	--grey-dark: #6C7077;
	--grey: #A4A4A4;
	--white: white;
	--primary: #562CFF;
	--primary-hover: #583CC5;
	--red: #FF2222;
	--red-light: #FEA291;
	--green: #127A4F;
	--green-light: #C8F8E4;
	--font-family: "Noto Sans", sans-serif;
}
